*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-family: "Poppins", sans-serif;
}

header{
    background-color: white;
    padding: 5px 20px;
}

h1,p{
    display: inline;
}

main{
    background-color:cadetblue;
}

.container{
    padding: 25px;
}

.content{
    max-width: 80%;
    margin: 0 auto;
}

.content-header{
    background-color: white;
    margin-bottom: 1px;
    border-radius: 10px;
    padding: 20px 20px;
}

.content-main{
    background-color: white;
    border-radius: 10px;
    padding: 20px 20px;
}

.top-button{
    display: inline;
    width: 50px;
    border-radius: 10px;
    background-color: blueviolet;
    padding: 10px;
    margin: 1px;
}

#add-task{
    background-color: dodgerblue;
    border: 1px solid dodgerblue;
    color: white;
}

#add-section{
    background-color: white;
    border: 1px solid gray;
    color: gray;
}

.activity{
    border-radius: 20px;
    color: white;
    display: inline;
    margin-left: 10px;
    padding: 5px 10px;
    font-size: x-small;
}

.category{
    margin-bottom: 10px;
}

.event{
    margin-bottom: 10px;
}

.done{
    color: green
}

.todo{
    color: red;
}

.editorial{
    background-color: dodgerblue;
}

.goals{
    background-color: mediumpurple;
}

.recruiting{
    background-color:lightseagreen;
}

.mobile{
    background-color: lightsalmon;
}

.website{
    background-color: lightpink;
}

.sales{
    background-color:olive;
}